# Config Known host file in global security
# NodeJS Plugin - create environmetn named "node_20"
# Kubernetes CLI Plugin
# Create Credential - Can use username with Private key
ssh-keygen -t rsa -b 4096 -C "your_email@example.com"
cat ~/.ssh/id_rsa.pub
cat ~/.ssh/id_rsa 
# Pipeline Utility Steps (For readJson steps)
# Docker Pipeline Plugin (if building Docker images)
